/****************************************
Basic
****************************************/
@import url("https://fonts.googleapis.com/css2?family=Cookie&family=Spicy+Rice&display=swap");
:root {
  --MainFont: "Cookie", cursive;
  --TitleFont: "Spicy Rice", serif;
  --Background: linear-gradient(to right, #ffd194, #d1913c);
  --TitleSize: 3rem;
  --SubtitleSize: 1.25rem;
  --CopySize: 1rem;
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  display: flex;
  place-items: center;
  width: 100%;
  height: auto;
  height: 100vh;
  height: 100dvh;
  height: -webkit-fill-available;

  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: var(--CopySize);
}

body {
  background: var(--Background);
}

/****************************************
Box Sizing
****************************************/
* {
  box-sizing: border-box;
}

a {
  pointer-events: all;
}
